pkgbase = brother-hl-l2400dw
	pkgdesc = LPR and CUPS driver for the Brother HL-L2400DW
	pkgver = 4.1.0
	pkgrel = 1
	url = http://solutions.brother.com/linux/en_us/
	install = brother-hl-l2400dw.install
	arch = i686
	arch = x86_64
	license = custom:brother commercial license
	depends = cups
	source = https://download.brother.com/welcome/dlf105950/hll2400dwepdrv-4.1.0-1.i386.rpm
	md5sums = b625952f32780d2a60187cf2d9bfa77e
	depends_x86_64 = lib32-glibc

pkgname = brother-hl-l2400dw
